@charset "utf-8";
@media screen and (min-width: 1025px) { html { font-size: 16px; }}
@media screen and (max-width: 1024px) { html { font-size: 23.98px; }}
@media screen and (max-width: 768px) { html { font-size: 23.98px; }}
@media screen and (max-width: 750px) { html { font-size: 23.98px; }}
@media screen and (max-width: 740px) { html { font-size: 23.66px; }}
@media screen and (max-width: 730px) { html { font-size: 23.33px; }}
@media screen and (max-width: 720px) { html { font-size: 23.01px; }}
@media screen and (max-width: 710px) { html { font-size: 22.69px; }}
@media screen and (max-width: 700px) { html { font-size: 22.36px; }}
@media screen and (max-width: 690px) { html { font-size: 22.04px; }}
@media screen and (max-width: 680px) { html { font-size: 21.72px; }}
@media screen and (max-width: 670px) { html { font-size: 21.39px; }}
@media screen and (max-width: 660px) { html { font-size: 21.07px; }}
@media screen and (max-width: 650px) { html { font-size: 20.75px; }}
@media screen and (max-width: 640px) { html { font-size: 20.42px; }}
@media screen and (max-width: 630px) { html { font-size: 20.1px; }}
@media screen and (max-width: 620px) { html { font-size: 19.77px; }}
@media screen and (max-width: 610px) { html { font-size: 19.45px; }}
@media screen and (max-width: 600px) { html { font-size: 19.13px; }}
@media screen and (max-width: 590px) { html { font-size: 18.8px; }}
@media screen and (max-width: 580px) { html { font-size: 18.48px; }}
@media screen and (max-width: 570px) { html { font-size: 18.17px; }}
@media screen and (max-width: 560px) { html { font-size: 17.84px; }}
@media screen and (max-width: 550px) { html { font-size: 17.53px; }}
@media screen and (max-width: 540px) { html { font-size: 17.21px; }}
@media screen and (max-width: 530px) { html { font-size: 16.89px; }}
@media screen and (max-width: 520px) { html { font-size: 16.57px; }}
@media screen and (max-width: 510px) { html { font-size: 16.25px; }}
@media screen and (max-width: 500px) { html { font-size: 15.93px; }}
@media screen and (max-width: 490px) { html { font-size: 15.62px; }}
@media screen and (max-width: 480px) { html { font-size: 15.29px; }}
@media screen and (max-width: 470px) { html { font-size: 14.98px; }}
@media screen and (max-width: 460px) { html { font-size: 14.66px; }}
@media screen and (max-width: 450px) { html { font-size: 14.34px; }}
@media screen and (max-width: 440px) { html { font-size: 14.02px; }}
@media screen and (max-width: 430px) { html { font-size: 13.71px; }}
@media screen and (max-width: 420px) { html { font-size: 13.38px; }}
@media screen and (max-width: 410px) { html { font-size: 13.07px; }}
@media screen and (max-width: 400px) { html { font-size: 12.75px; }}
@media screen and (max-width: 390px) { html { font-size: 12.43px; }}
@media screen and (max-width: 380px) { html { font-size: 12.11px; }}
@media screen and (max-width: 370px) { html { font-size: 11.79px; }}
@media screen and (max-width: 360px) { html { font-size: 11.47px; }}
@media screen and (max-width: 350px) { html { font-size: 11.16px; }}
@media screen and (max-width: 340px) { html { font-size: 10.83px; }}
@media screen and (max-width: 330px) { html { font-size: 10.52px; }}
@media screen and (max-width: 320px) { html { font-size: 10.2px; }}