@charset "utf-8";
/*
    0. content : ''; 1. display
    2. positioning(floating)
    3. z-index - zindex 10, 20, 30, 40 세부적으로는 11, 9, header, footer 30, container 20, modal은 99
    4. width & height
    5. overflow
    6. margin & padding
    7. border & outline
    8. background
    9. font
    10. etc(opacity, transform, animation, transition, 기타 텍스트 관련 스타일)
 */

/*
    rules
    0. css 선언은 가급적 화면의 눈의 흐름 방향에 따라 선언한다.
    1. 성질에 따라 분류한다.
*/

/* common start */
/* header */
header { display: flex; justify-content: space-between; align-items: center; position: fixed; left: 0; top: 0; z-index: 30; width: 100%; }

/* logo */
.logo.pc { display: block; width: 157px; height: 40px; margin: 20px; }
.logo.mobile { display: none; }
.logo.pc img { display: block; width: 100%; height: 100%; }

/* emb */
.emb { display: inline-block; position: absolute; top: 0; right: 15rem; width: 162px; height: 211px; max-width: 10%; }
.emb img { display: inline-block; width: 100%; }

/* btnWrap */
.btnWrap { display: flex; align-items: center; margin-right: 1rem; }
.btnWrap a { display: flex; justify-content: center; align-items: center; position: relative; min-width: 34px; height: 34px; padding: 0px 8px; border: 1px solid #8c8b95; font-size: 12px; color: #8c8b95; line-height: 1; text-align: center; -webkit-transition: 0.3s; transition: 0.3s; }
.btnWrap a:last-child { margin-left: 7px; padding-left: 17px; padding-right: 27px; }
.btnWrap a .sns_home { position: absolute; top: 8px; right: 8px; width: 15px; height: 15px; background: url(https://s1.pearlcdn.com/SEA/Upload/Landing/Guardian/en-US/home.png) 0 0 no-repeat; }
.btnWrap a .today_close { position: absolute; top: 11.2px; right: 10px; width: 9px; height: 9px; background: url(https://s1.pearlcdn.com/SEA/Upload/Landing/Guardian/en-US/todayclose.png) 0 0 no-repeat; }
.btnWrap ul { display: flex; align-items: center; padding-left: 28px; }
.btnWrap ul:before { content: ''; display: block; width: 1px; height: 23px; background: rgba(51, 51, 51, 0.15); }
.btnWrap ul a { margin-left: 28px; }

/* bgWrapper */
.bgWrapper { display: block; position: absolute; z-index: 10; width: 100%; height: 100%; overflow: hidden; }

/* looping */
.looping { z-index: 0; opacity: 1; }

/* TODO : background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
/* .looping { width: 100%; height: 100%; background: #0a0d16 url(../img/bg_with_effect_ie.webp) center 0 / cover no-repeat; } */

/* .looping.ie { background-image:url(../img/bg_with_effect_ie.jpg) } */
/* .looping video { display: block; width: 100%; height: 100%; border: 0; outline: 0; background: #0a0d16 url(../img/bg_with_effect_ie.webp) center 0 / cover no-repeat; } */

/* .looping.ie video { display:none; background-image:url(../img/bg_with_effect_ie.jpg) } */
.looping.on { opacity: 1; -webkit-transition: opacity 2s; transition: opacity 2s; }

/* footer */
footer { display: block; position: absolute; bottom: 0; left: 0; z-index: 30; width: 100%; padding-bottom: 25px; font-size: 0; text-align: center; }
footer a { display: inline-block; vertical-align: middle; width: 122px; height: 23px; }
footer > span { display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 12px; color: white; }

/* popup */
.popup { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 99; background: rgba(0, 0, 0, 0.6); }
.popup .content { display: inline-block; position: relative; top: 52%; left: 50%; width: auto; height: auto; max-width: 100%; min-width: 540px; min-height: 240px; overflow: hidden; padding: 4%; background: #3a3552; color: white; font-size: 24px; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); }
.popup .btnClose { display: inline-block; position: absolute; top: 12px; right: 12px; width: 68px; height: 68px; opacity: 0.5; text-align: center; -webkit-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.popup .btnClose:after,
.popup .btnClose:before { content: ''; position: absolute; left: -5px; right: 0; height: 2px; width: 80px; background-color: #fff; }
.popup .btnClose:before { top: 50%; -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.popup .btnClose:after { bottom: 50%; -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }
.popup .container { display: inline-block; }

/* .popup .container .title { font-size: 24px; color: white; font-weight: normal; }
.popup .container ul { margin-top: 30px; font-size: 16px; color: #d8d8ea; }
.popup .container ul li { position: relative; padding-left: 10px; white-space: nowrap; }
.popup .container ul li:before { content: '-'; position: absolute; left: 0; } */

/* #Movie */
#Movie .content { position: absolute; min-width: auto; min-height: auto; max-height: calc(100vh - 5rem); overflow: inherit; padding: 0; outline: 1px solid #555; background: black; }
#Movie .content:after { display: none; }
#Movie .content .btnClose { display: inline-block; position: absolute; top: -4rem; right: 0; width: 4rem; height: 4rem; }
#Movie .content .btnClose:after,
#Movie .content .btnClose:before { left: 0; right: 0; height: 2px; width: 4rem; }
#Movie .content .container { width: 100%; height: 100%; }
#Movie .content .container iframe { width: 100%; height: 100%; }

/* common end */

/* important 스타일 */
.mo { display: none !important; }

/* page_wrap */
.page_wrap { background: black; }

/* main */
.main { display: block; position: relative; z-index: 20; width: 100%; height: 100vh; }

/* webp support */
.bg { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100vh; }

/* picture */
.pic { display: none; position: absolute; left: 0; top: 0; z-index: 20; width: 100%; height: 100vh; background: #0a0c17; }

.pic source,
.pic img { display: block; position: absolute; left: 50%; top: 0; width: 100vw; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

/* cont */
.cont { display: block; position: relative; z-index: 20; max-width: 1920px; height: 100%; margin: 0 auto; }

/* floating */
.floating { display: block; position: absolute; left: 40px; top: 50%; -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }
.floating ul li ~ li { margin-top: 20px; }
.floating ul li a { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 124px; height: 124px; background: url(https://s1.pearlcdn.com/SEA/Upload/Landing/Guardian/en-US/bg_circle.png) no-repeat; text-align: center; color: #0d1b2c; font-size: 13px; line-height: 1.2; font-weight: bold; letter-spacing: -0.2px; -webkit-filter: brightness(0.9); filter: brightness(0.9); }
.floating ul li a::before { content: ''; display: block; width: 32px; height: 36px; margin: -15px auto 8px; background: url(https://s1.pearlcdn.com/SEA/Upload/Landing/Guardian/en-US/spr_icon.png) no-repeat; }
.floating ul li:nth-of-type(1) a::before { background-position-y: 3px; }
.floating ul li:nth-of-type(2) a::before { margin: -10px auto 3px; background-position-y: -33px; }
.floating ul li:nth-of-type(3) a::before { background-position-y: -69px; }

/* main_contents */
.main_contents { display: flex; justify-content: flex-end; align-items: center; flex-direction: column; width: 100%; height: 100%; padding-bottom: 120px; box-sizing: border-box; }
.main_contents .title { max-width: 65%; margin: 40px auto 0; }
.main_contents .title img { display: block; max-width: 100%; }
.main_contents .text { display: block; margin-top: -20px; }
.main_contents ul { margin-top: 40px; display: block; font-size: 0; }
.main_contents ul li { display: inline-block; vertical-align: top; }
.main_contents ul li a { display: flex; justify-content: center; align-items: center; width: 356px; height: 93px; background: url(https://s1.pearlcdn.com/SEA/Upload/Landing/Guardian/en-US/spr_btns.webp) 0 0/356px auto no-repeat; font-size: 20px; color: #fff; }

/* ie 일 때 png로 처리 */
/* .main_contents ul.ie li a { background-image:url(../img/spr_btns.png) } */
.main_contents ul li:nth-of-type(2) a { background-position-y: -106px; margin-left: 15px; }
.main_contents ul li:nth-of-type(3) a { background-position-y: -212px; }

/* js-effect - hide */
.js-footer,
.js-header,
.js-picFirst,
.js-picSecond,
.js-floating,
.js-article { opacity: 1; -webkit-transition: 0.5s; transition: 0.5s; }

/* js-effect - on */
.js-footer.on,
.js-header.on,
.js-picFirst.on,
.js-picSecond.on,
.js-floating.on,
.js-article.on { opacity: 1; }

/* TODO:
Media screen
print, speech
*/

/* 영상 사이즈 대응 */
@media screen and (max-width: 1920px) { video { -webkit-transform: scale(1.2); transform: scale(1.2); }}

/* 중간화면 대응 */
@media screen and (max-width: 1440px){
    .pic source,
    .pic img { width: 1920px; }
}

/* 마우스 오버 PC */
@media screen and (min-width: 1025px) {
    /* header */
    header .logo img { -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
    header .logo img:hover { opacity: 0.8; }
    header .btnWrap a span { -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
    header .btnWrap a:hover span { opacity: 0.8; }

    /* footer */
    footer a:hover { opacity: 0.8; }

    /* #Movie */
    .popup .btnClose:hover { opacity: 0.8; -webkit-transform: rotate3d(0, 0, 1, -90deg); transform: rotate3d(0, 0, 1, -90deg); }

    /* floating */
    .floating ul li a { -webkit-filter: grayscale(0.4); filter: grayscale(0.4); -webkit-transition: filter 0.3s; transition: filter 0.3s; }
    .floating ul li a:hover { -webkit-filter: brightness(1); filter: brightness(1); }

    /* main_contents */
    .main_contents ul li a { -webkit-transition: 0.3s; transition: 0.3s; -webkit-filter: grayscale(0.4); filter: grayscale(0.4); }
    .main_contents ul li a:hover { -webkit-filter: grayscale(0); filter: grayscale(0); }
}

/* media scren - tablet and mobile */
@media screen and (max-width: 1024px) {
    /* common start */
    /* header */
    header { height: 70px; background: #22222f; }
    header .left { margin-left: 0.5rem; }
    header .logo.pc { display: none; }
    header .logo.mobile { display: block; max-width: 6.541rem; }
    header .logo { max-width: 8.5rem; }
    header .logo img { display: block; max-width: 100%; }
    .btnWrap { margin-right: 0.5rem; }
    .btnWrap a { margin-left: 1rem; font-size: 0.6rem; }
    .btnWrap a:last-child { margin-left: 0.3rem; }
    header .emb { top: 70px; left: 0.4rem; width: 4.5rem; height: auto; max-width: 100%; }
    header .emb img { display: inline-block; width: 100%; height: 100%; }

    /* footer */
    footer a { display: block; width: 5.0833rem; height: 0.95833rem; margin: 0 auto 0.5rem; }
    footer > span { margin-left: 0; font-size: 0.6rem; }

    /* common end */

    /* important 스타일 */
    .mo { display: block !important; }

    /* floating */
    .floating { display: none; }

    .pic,
    .bg { display: none; }

    /* main */
    .main { height: auto; min-height: inherit; margin-top: 70px; background: url(../img/bg_mo.jpg) center 0 / cover no-repeat; }

    /* header height : 70px */

    /* #Movie */
    #Movie .content { max-height: calc(100vh - 3rem); }
    #Movie .content .btnClose { width: 2rem; height: 2rem; top: -2rem; }
    #Movie .content .btnClose:after,
    #Movie .content .btnClose:before { top: 0; left: auto; right: auto; width: 2px; height: 2rem; }

    /* .contents */
    .contents { max-height: initial; }

    /* .cont article */
    .cont article { display: flex; min-height: calc(100vh - 70px); padding-top: 38vw; text-align: center; }

    /* header height : 70px */
    .cont article img { max-width: 90%; margin: 0 auto; }
    .cont article .sub img { max-width: 60%; }
    .cont article .title { max-width: 90%; margin: 1rem auto 0; }
    .cont article .text { margin-top: -0.5rem; text-align: center; }
    .cont article ul li { display: flex; margin: 0.5rem auto 0; }
    .cont article ul li a { width: 11.666rem; height: 3rem; margin: 0 auto; background-size: 11.666rem auto; font-size: 0.66rem; }
    .cont article ul li:nth-of-type(2) a { margin-left: 0; background-position-y: -3.5416rem; }
    .cont article ul li:nth-of-type(3) a { background-position-y: -7rem; }
}

/* mobile only - 성질에 따른 전체 크기 변화 */
@media screen and (max-width: 640px) { html { font-size: 20px; }}